{% extends "base.html" %}


{% block content %}


<form id="add_directory" style="text-align: center; margin-top: 10%; display: none;" action="{% url 'file:new_directory' %}" method="post">
    {% csrf_token %}
    <label for="name"></label>
    <input type="hidden", name="directory_id" value="{{ directory_id }}">
    <input style="text-align: center; width: 10%;" type="text" name="name" placeholder="name"/><br><br>
    <a onclick="close_add_directory_function()" style="width: 3%;" class="btn btn-danger" href="/"><i class="fa fa-close"></i></a>
    <button style="width: 3%;" type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
</form>


<div id="direcory_list" class="container mt-3">
    <div class="row">
        {% for folder in directory %}
        <div class="col-sm-3">
          {% if folder.size == 0 %}
          <button style="font-size:24px; margin: 1% 3%;"><i onclick="open_settings('{{ folder.id }}')" class="material-icons" style="color: black;">settings</i> <a style="color: black; " href="{% url 'file:directory' folder.id %}">{{ folder.name }}</a> <i class="fa fa-folder-open-o"></i>
          <ul style="display: none; list-style: none;" id="{{ folder.id }}">
            <li class="btn btn-danger" onclick="close_settings('{{ folder.id }}')"><i class="fa fa-close"></i></li><br>
            <a href="{% url 'file:delete_manage' 'delete_directory' folder.id %}"><li class="btn btn-danger" >حذف</li></a><br>
            <a href="{% url 'file:edit_manage' 'edit_directory' folder.id %}"><li class="btn btn-warning">تغییر نام</li></a><br>
            <a href="{% url 'file:share_manage' 'share_directory' folder.id %}"><li class="btn btn-primary">اشتراک گذاری</li></a><br>
          </ul></button>
          {% else %}
          <button style="font-size:24px; margin: 1% 3%;"><i onclick="open_settings('{{ folder.id }}')" class="material-icons" style="color: black;">settings</i> <a style="color: black; " href="{% url 'file:directory' folder.id %}">{{ folder.name }}</a> <i class="fa fa-folder-open"></i>
          <ul style="display: none; list-style: none;" id="{{ folder.id }}">
            <li class="btn btn-danger" onclick="close_settings('{{ folder.id }}')"><i class="fa fa-close"></i></li><br>
            <a href="{% url 'file:delete_manage' 'delete_directory' folder.id %}"><li class="btn btn-danger" >حذف</li></a><br>
            <a href="{% url 'file:edit_manage' 'edit_directory' folder.id %}"><li class="btn btn-warning">تغییر نام</li></a><br>
            <a href="{% url 'file:share_manage' 'share_directory' folder.id %}"><li class="btn btn-primary">اشتراک گذاری</li></a><br>
          </ul></button>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>


{% endblock %}



{% block script %}
<script>
    function open_add_directory_function(){
        document.getElementById("add_directory").style.display = "block";
        document.getElementById("direcory_list").style.display = "none";
    }
    function close_add_directory_function(){
        document.getElementById("add_directory").style.display = "none";
    }


    function open_settings(id){
        console.log(id)
        document.getElementById(id).style.display = "block";
    }
    function close_settings(id){
        console.log(id)
        document.getElementById(id).style.display = "none";
    }
</script>
{% endblock %}